
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#pick_store_search_btn, #delivery_store_search_btn, #google_map_btn {
	margin-top: 27px;
}

#new_shipment_btn {
	margin-top: 27px;
}

#pick_zip, #delivery_zip, #pick_store_search, #delivery_store_search, #commodity {
	background-color: aliceblue;
}

.search-background, .commodity-search-background {
	background-color: #093145;
	position:absolute;
	z-index: 99 !important;
}

a {
	cursor: default;
	color: white;
}

a:hover{
	color:blue;
}

#mapping {
	margin-top: 15px;
}


